[Unit]
Description=AutoUpdatePackages - automatically update DPKG packages on boot
ConditionPathExists=/usr/bin/auto-update-packages
Wants=network.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/auto-update-packages update
Restart=on-failure
RestartSec=35
KillMode=process

[Install]
WantedBy=multi-user.target
